@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
*:not(body), *:not(html) {
  box-sizing: border-box;
}

::-moz-selection {
  background: #FFFF9E;
  color: #5A5A5A;
}

::selection {
  background: #FFFF9E;
  color: #5A5A5A;
}

::-moz-selection {
  background: #FFFF9E;
  color: #5A5A5A;
}

*:invalid {
  box-shadow: none;
  outline: none;
}

input:focus {
  outline: none;
}

html, body {
  height: 100%;
  background: black;
}

html {
  font-family: "Open Sans";
  font-size: 16px;
  font-color: #5A5A5A;
  font-weight: 300;
}

body {
  margin: 0;
}

.chat {
  position: relative;
  height: 100%;
  max-width: 480px;
  margin: 0 auto;
  background: #E7ECEA;
}
.chat header#chat-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  background: rgba(40, 44, 42, 0.05);
}
.chat header#chat-header h2, .chat header#chat-header a {
  position: absolute;
}
.chat header#chat-header h2 {
  font-weight: 400;
  font-size: 26px;
  line-height: 50px;
  color: #34495E;
  margin: 0;
  width: 100%;
  text-align: center;
}
.chat header#chat-header a {
  right: 8px;
  left: auto;
  top: 8px;
  cursor: pointer;
  border: 1px solid #34495E;
  padding: 0 6px;
  line-height: 34px;
  font-size: 13px;
  border-radius: 6px;
  z-index: 100;
}
.chat header#chat-header a:before {
  content: "× ";
}
.chat main {
  position: absolute;
  top: 50px;
  bottom: 50px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.chat main .message {
  position: relative;
  margin-bottom: 8px;
  -webkit-animation: fade-in 200ms linear;
          animation: fade-in 200ms linear;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat main .message:first-child {
  margin-top: 8px;
}
.chat main .message:after {
  display: block;
  content: " ";
  clear: both;
}
.chat main .message figure {
  float: left;
  margin: 0 8px;
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 0;
}
.chat main .message figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.chat main .message .speech {
  position: relative;
  min-height: 50px;
  border-radius: 25px;
  padding: 10px 16px;
  margin-right: 8px;
  background: #F7F7F7;
  width: calc(100% - 82px);
  float: right;
}
.chat main .message .speech:after {
  position: absolute;
  display: block;
  content: " ";
  border: 12px solid transparent;
  border-bottom-color: #F7F7F7;
  bottom: 10px;
  left: -12px;
  border-radius: 6px;
}
.chat main .message .speech header {
  white-space: nowrap;
  clear: both;
}
.chat main .message .speech header strong, .chat main .message .speech header time {
  color: #34495E;
}
.chat main .message .speech p {
  margin: 0;
}
.chat footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: rgba(40, 44, 42, 0.05);
}
.chat footer form {
  padding: 8px;
  height: 34px;
  width: 100%;
}
.chat footer form [type='text'] {
  position: relative;
  padding: 0 10px;
  margin: 0;
  top: -1px;
  line-height: 34px;
  height: 34px;
  border: none;
  width: calc(100% - 74px);
  border-radius: 6px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  color: #5A5A5A;
}
.chat footer form [type='submit'] {
  cursor: pointer;
  position: relative;
  right: -2px;
  top: -1px;
  background: #34495E;
  border: none;
  color: white;
  line-height: 34px;
  width: 66px;
  padding: 0;
  border-radius: 6px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 500;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
